<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>A password reset event was triggered. The password window is limited to two hours.</p>
  <p>If you do not reset your password within two hours, you will need to submit a new request.</p>
  <p>To complete the password reset process, visit the following link:</p>
  <p>
    <a href="{{link}}">Reset password</a>
  </p>
  <p>
    Sincerely,<br />
    <strong>Template Server</strong>
  </p>
</div>